:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --main-padding-top: 60px;
  --main-padding-bottom: 60px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html , body {
  overflow-x: hidden;
}

body {
  font-family: "Work Sans", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.special-heading {
  font-size: 100px;
  text-align: center;
  margin: 0;
  color: #ebeced;
  font-weight: 800;
  letter-spacing: -3px;
}

.special-heading + p {
  font-size: 20px;
  margin-top: -30px;
  text-align: center;
}

@media (max-width: 768px) {
  .special-heading {
    font-size: 60px;
  }
  
  .special-heading+p {
    font-size: 17px;
    margin-top: -20px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

header {
  padding: 20px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container img {
  width: 70px;
}

header .container .links {
  position: relative;
}

header .container .links:hover>span>span:nth-child(2) {
  width: 100%;
}

header .container .links>span {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

header .container .links>span span {
  background-color: black;
  margin-bottom: 5px;
}

header .container .links>span>span:nth-child(1) {
  width: 100%;
  height: 2px;
}

header .container .links>span>span:nth-child(2) {
  width: 50%;
  height: 2px;
  transition: 0.3s;
}

header .container .links>span>span:nth-child(3) {
  width: 100%;
  height: 2px;
}

header .container .links nav ul {
  position: absolute;
  color: black;
  background-color: #f6f6f6;
  list-style: none;
  padding: 0;
  margin: 0;
  right: 0px;
  top: calc(100% + 15px);
  min-width: 200px;
  display: none;
}

header .container .links:hover nav ul {
  display: block;
}

header .container .links nav ul::before {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  right: 5px;
  top: -21px;
}

header .container .links nav ul li:not(:last-child) a {
  border-bottom: 1px solid rgb(221, 221, 198);
}

header .container .links nav ul a {
  display: block;
  padding: 15px;
  color: black;
  text-align: left;
  text-decoration: none;
  transition: 0.3s;
}

header .container .links nav ul a:hover {
  padding-left: 25px;
}

.landing {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  height: calc(100vh - 68px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .text {
  text-align: center;
  width: 320px;
  max-width: 100%;
}

.landing .text h1 {
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  color: var(--main-color);
}

.landing .text p {
  font-size: 20px;
  line-height: 1.8;
}

.features {
  background-color: #f6f6f6;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  gap: 20px;
}

.features .container>div {
  text-align: center;
}

.features .container>div i {
  color: var(--main-color);
}

.features .container>div h3 {
  font-weight: 800;
  margin: 30px 0;
}

.features .container>div p {
  line-height: 1.8;
  font-size: 17px;
  color: #777;
}

.Services {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}

.Services .container > div {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 30px;
}

@media (max-width: 768px) {
  .Services .container>div{
    margin-top: 100px;
  }
  .Services .container>div .col1>div,
  .Services .container>div .col2>div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
  }
  
}

.Services .container i {
  color: var(--main-color);
}

.Services .container>div .col1 > div,
.Services .container>div .col2 > div {
  display: flex;
  gap: 15px;
  margin-top: 40px;
}

@media (min-width: 1200px) {
  .Services .container>div .col2>div:last-child {
    margin-top: 62px;
  }
}


.Services .container>div .col1 > div h3,
.Services .container>div .col2>div h3{
  margin-top: 0;
}

.Services .container>div .col1 div p,
.Services .container>div .col2 div p{
  line-height: 1.6;
}

.Services .container>div >div:last-child {
  text-align: center;
  position: relative;
}

.Services .container>div >div:last-child img{
  width: 270px;
}

@media (max-width: 1199px){
  .Services .container>div >div:last-child {
    display: none;
  }
}

.Services .container>div >div:last-child::before{
  content: "";
  position: absolute;
  background-color: var(--secondary-color);
  right: 0;
  top: -55px;
  width: 110px;
  height: calc(100% + 110px);
  z-index: -1;
}

.Portfolio  {
  background-color: #f6f6f6;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}

.Portfolio .container > div{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 30px;
  margin-top: 70px;
}

.Portfolio .container > div{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}

.Portfolio .container > div > div{
  background-color: white;
}

.Portfolio .container > div img{
  width: 100%;
}

.Portfolio .container > div > div > div{
  padding: 20px;
}

.Portfolio .container > div > div > div h3{
  margin: 0;
}

.Portfolio .container > div > div > div p{
  line-height: 1.6;
  margin-bottom: 0;
}

.About {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}

.About .container > div{
  display: flex;
  align-items: center;
  gap: 150px;
}

.About .container>div>div img {
  width: 270px;
}

